#products {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
#products div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

header{
    text-align: center;
    background-color: beige;
}